flows/node-red-countdown.json
[{"id":"90b639ff.e38a28","type":"tab","label":"Countdown","disabled":false,"info":""},{"id":"7fe6fb5a.a09344","type":"ui_gauge","z":"90b639ff.e38a28","name":"","group":"4981ae2f.cd09d","order":6,"width":0,"height":0,"gtype":"gage","title":"Time to Finish","label":"minutes","format":"{{value}}","min":0,"max":"90","colors":["#00a9ab","#00a9ab","#00a9ab"],"seg1":"","seg2":"","x":440,"y":220,"wires":[]},{"id":"dd652430.0e6ba8","type":"ibmiot in","z":"90b639ff.e38a28","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"washer-leo-03","applicationId":"","deviceType":"washer","eventType":"time","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":110,"y":220,"wires":[["71635ff6.af29f","d4375e09.68753","aa1bfb1e.185338"]]},{"id":"71635ff6.af29f","type":"debug","z":"90b639ff.e38a28","name":"","active":true,"console":"false","complete":"false","x":250,"y":260,"wires":[]},{"id":"d4375e09.68753","type":"function","z":"90b639ff.e38a28","name":"","func":"msg.payload = msg.payload.timeToFinish;\nreturn msg;","outputs":1,"noerr":0,"x":255.5,"y":216,"wires":[["7fe6fb5a.a09344"]]},{"id":"f03fa95.94ec058","type":"ui_toast","z":"90b639ff.e38a28","position":"bottom left","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Washer Finished","name":"","x":430,"y":160,"wires":[]},{"id":"aa1bfb1e.185338","type":"function","z":"90b639ff.e38a28","name":"","func":"if(msg.payload.timeToFinish == 0) {\n    msg = {};\n    msg.payload = \"Your Laundry is Ready to be Picked Up!\"\n    return msg;\n}","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["f03fa95.94ec058"]]},{"id":"47a16aec.fe00e4","type":"ui_text","z":"90b639ff.e38a28","group":"4981ae2f.cd09d","order":3,"width":"3","height":"1","name":"","label":"<big>Washer 3</big><br><small>Leopoldstr. 202</small>","format":"","layout":"row-spread","x":280,"y":100,"wires":[]},{"id":"3ea470a3.dd48f","type":"ui_template","z":"90b639ff.e38a28","group":"4981ae2f.cd09d","name":"","order":5,"width":"2","height":"2","format":"<img src='https://image.ibb.co/bU9cLG/MCSA01835701_WM4_UH641_def.png'/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":100,"wires":[[]]},{"id":"946c8ddf.27a31","type":"ui_template","z":"90b639ff.e38a28","group":"4981ae2f.cd09d","name":"","order":1,"width":"2","height":"1","format":"<img src=\"https://image.ibb.co/kugLpb/Untitled_2_01.png\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":205.5,"y":50,"wires":[[]]},{"id":"8fb2367f.f88478","type":"ui_template","z":"90b639ff.e38a28","group":"4981ae2f.cd09d","name":"","order":2,"width":"4","height":"1","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":365.5,"y":50,"wires":[[]]},{"id":"9a56f3f.dd6701","type":"ui_template","z":"90b639ff.e38a28","group":"4981ae2f.cd09d","name":"","order":4,"width":"1","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":100,"wires":[[]]},{"id":"4981ae2f.cd09d","type":"ui_group","z":"","name":"Time to Finish","tab":"6c929575.e2519c","disp":false,"width":"6"},{"id":"6c929575.e2519c","type":"ui_tab","z":"","name":"ioWash Countdown","icon":"dashboard","order":2}]
