flows/node-red-washer.json
[{"id":"23be4e18.670552","type":"tab","label":"Washer","disabled":false,"info":""},{"id":"1722b37d.32881d","type":"ui_button","z":"23be4e18.670552","name":"coloreds","group":"62dc6180.6492b","order":0,"width":0,"height":0,"passthru":false,"label":"coloreds","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"coloreds","payloadType":"str","topic":"","x":500,"y":280,"wires":[["b4f0764d.c09758","7674e250.ce479c"]]},{"id":"4b3efb54.129df4","type":"ui_button","z":"23be4e18.670552","name":"gentle","group":"62dc6180.6492b","order":0,"width":0,"height":0,"passthru":false,"label":"gentle","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"gentle","payloadType":"str","topic":"","x":490,"y":340,"wires":[["b4f0764d.c09758","7674e250.ce479c"]]},{"id":"1133093a.b064e7","type":"ui_button","z":"23be4e18.670552","name":"boiled","group":"62dc6180.6492b","order":0,"width":0,"height":0,"passthru":false,"label":"boiled","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"boiled","payloadType":"str","topic":"","x":490,"y":400,"wires":[["b4f0764d.c09758","7674e250.ce479c"]]},{"id":"6ed9c427.4f800c","type":"ui_button","z":"23be4e18.670552","name":"sports","group":"62dc6180.6492b","order":0,"width":0,"height":0,"passthru":false,"label":"sports","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"sports","payloadType":"str","topic":"","x":490,"y":460,"wires":[["b4f0764d.c09758","7674e250.ce479c"]]},{"id":"60077384.c3fc2c","type":"ui_button","z":"23be4e18.670552","name":"cotton","group":"62dc6180.6492b","order":0,"width":0,"height":0,"passthru":false,"label":"cotton","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"cotton","payloadType":"str","topic":"","x":484.5,"y":511,"wires":[["b4f0764d.c09758","7674e250.ce479c"]]},{"id":"966dae74.01c4a","type":"ui_button","z":"23be4e18.670552","name":"500 rpm","group":"3dbc24ac.4acf5c","order":2,"width":"3","height":"1","passthru":false,"label":"500 rpm","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"500","payloadType":"str","topic":"","x":920,"y":580,"wires":[["3ed3a77d.461838"]]},{"id":"92a998e1.6032a8","type":"ui_button","z":"23be4e18.670552","name":"800 rpm","group":"3dbc24ac.4acf5c","order":3,"width":"3","height":"1","passthru":false,"label":"800 rpm","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"800","payloadType":"str","topic":"","x":1060,"y":580,"wires":[["3ed3a77d.461838"]]},{"id":"d02b853b.a6ebd8","type":"ui_button","z":"23be4e18.670552","name":"1200 rpm","group":"3dbc24ac.4acf5c","order":4,"width":"3","height":"1","passthru":false,"label":"1200 rpm","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"1200","payloadType":"str","topic":"","x":1200,"y":580,"wires":[["3ed3a77d.461838"]]},{"id":"11d3d81e.879a98","type":"ui_button","z":"23be4e18.670552","name":"30 °C","group":"5070eae8.46d144","order":0,"width":"3","height":"1","passthru":false,"label":"30 °C","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"30","payloadType":"str","topic":"","x":770.5,"y":526,"wires":[["c5564a74.2613a8"]]},{"id":"8bb945b1.dae7a8","type":"ui_button","z":"23be4e18.670552","name":"40 °C","group":"5070eae8.46d144","order":0,"width":"3","height":"1","passthru":false,"label":"40 °C","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"40","payloadType":"str","topic":"","x":908.5,"y":522,"wires":[["c5564a74.2613a8"]]},{"id":"8a19bd0b.c0a15","type":"ui_button","z":"23be4e18.670552","name":"60 °C","group":"5070eae8.46d144","order":0,"width":"3","height":"1","passthru":false,"label":"60 °C","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"60","payloadType":"str","topic":"","x":1043.5,"y":523,"wires":[["c5564a74.2613a8"]]},{"id":"fefe9608.f865d8","type":"ui_button","z":"23be4e18.670552","name":"90 °C","group":"5070eae8.46d144","order":0,"width":"3","height":"1","passthru":false,"label":"90 °C","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"90","payloadType":"str","topic":"","x":1182.5,"y":521,"wires":[["c5564a74.2613a8"]]},{"id":"d98bdbe2.1e7c18","type":"ui_template","z":"23be4e18.670552","group":"45e35d1a.116204","name":"timer","order":1,"width":"7","height":"2","format":"<style>\n.clock-large {\n    font-family: 'Orbitron', sans-serif;\n    font-size:100px;\n    color:#FFF;\n    text-align: center;\n}\n</style>\n<div class='clock-large'>\n    {{(msg.payload == 0 || !msg.payload) ? '00:00 h' : (( msg.payload < 60 ? '00' : (((msg.payload / 60) | number:0) < 10 ? '0' + ((msg.payload / 60) | number:0) : ((msg.payload / 60) | number:0))) + ':' + ((msg.payload % 60) < 10 ? '0' + (msg.payload % 60) : (msg.payload % 60)) + ' h')}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":990,"y":200,"wires":[[]]},{"id":"8abe7a2e.538eb8","type":"ui_template","z":"23be4e18.670552","group":"aaf73fe7.0af7b","name":"qr code","order":3,"width":"3","height":"3","format":"<img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Fiowash.mybluemix.net%2Fui%2F%23%2F0&chs=180x180&choe=UTF-8&chld=L|2' alt=''>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1280,"y":200,"wires":[[]]},{"id":"add594a.c1f3d68","type":"ui_text","z":"23be4e18.670552","group":"aaf73fe7.0af7b","order":1,"width":"1","height":"3","name":"","label":"","format":"","layout":"row-spread","x":1130,"y":200,"wires":[]},{"id":"f87f4bc.655ceb8","type":"ui_button","z":"23be4e18.670552","name":"handwash","group":"62dc6180.6492b","order":0,"width":0,"height":0,"passthru":false,"label":"handwash","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"handwash","payloadType":"str","topic":"","x":501.5,"y":559,"wires":[["b4f0764d.c09758","7674e250.ce479c"]]},{"id":"a3b68ecc.891e9","type":"ui_button","z":"23be4e18.670552","name":"quick","group":"62dc6180.6492b","order":0,"width":0,"height":0,"passthru":false,"label":"quick","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"quick","payloadType":"str","topic":"","x":490,"y":600,"wires":[["b4f0764d.c09758","7674e250.ce479c"]]},{"id":"4a5af19.272291","type":"ui_button","z":"23be4e18.670552","name":"without","group":"3dbc24ac.4acf5c","order":1,"width":"3","height":"1","passthru":false,"label":"without","color":"#000","bgcolor":"{{msg.background}}","icon":"","payload":"0","payloadType":"str","topic":"","x":776.5,"y":580,"wires":[["3ed3a77d.461838"]]},{"id":"b4f0764d.c09758","type":"function","z":"23be4e18.670552","name":"set program","func":"var selection = msg.payload;\nflow.set(\"program\", selection);\ndict = {\n    coloreds: 0,\n    gentle: 1,\n    boiled: 2,\n    sports: 3,\n    cotton: 4,\n    handwash: 5,\n    quick: 6,\n    none: 7\n}\nvar msg =[];\n\nfor(var i = 0; i<8; i++){\n    msg.push({\n        background: '#bebebe'\n    })\n}\nmsg[dict[selection]].background = '#00a9ab';\nreturn msg;","outputs":"8","noerr":0,"x":250,"y":440,"wires":[["1722b37d.32881d","e88ce6cf.36b65"],["4b3efb54.129df4","e88ce6cf.36b65"],["1133093a.b064e7","e88ce6cf.36b65"],["6ed9c427.4f800c","e88ce6cf.36b65"],["60077384.c3fc2c","e88ce6cf.36b65"],["f87f4bc.655ceb8","e88ce6cf.36b65"],["a3b68ecc.891e9","e88ce6cf.36b65"],["7674e250.ce479c"]]},{"id":"34dc2fc9.a8146","type":"inject","z":"23be4e18.670552","name":"","topic":"","payload":"boiled","payloadType":"str","repeat":"","crontab":"","once":false,"x":70,"y":300,"wires":[["b4f0764d.c09758"]]},{"id":"31533ff2.d890b","type":"inject","z":"23be4e18.670552","name":"","topic":"","payload":"cotton","payloadType":"str","repeat":"","crontab":"","once":false,"x":70,"y":380,"wires":[["b4f0764d.c09758"]]},{"id":"3ed3a77d.461838","type":"function","z":"23be4e18.670552","name":"set spin","func":"var selection = msg.payload;\nflow.set(\"spin\", selection);\ndict = {\n    '0': 0,\n    '500': 1,\n    '800': 2,\n    '1200': 3,\n    'none': 4\n}\nvar msg =[];\n\nfor(var i = 0; i<5; i++){\n    msg.push({\n        background: '#bebebe'\n    })\n}\nmsg[dict[selection]].background = '#00a9ab';\nreturn msg;","outputs":"5","noerr":0,"x":980,"y":680,"wires":[["4a5af19.272291","e88ce6cf.36b65"],["966dae74.01c4a","e88ce6cf.36b65"],["92a998e1.6032a8","e88ce6cf.36b65"],["d02b853b.a6ebd8","e88ce6cf.36b65"],["e88ce6cf.36b65"]]},{"id":"c5564a74.2613a8","type":"function","z":"23be4e18.670552","name":"set temp","func":"var selection = msg.payload;\nflow.set(\"temp\", selection);\ndict = {\n    '30': 0,\n    '40': 1,\n    '60': 2,\n    '90': 3,\n    'none': 4\n}\nvar msg =[];\n\nfor(var i = 0; i<5; i++){\n    msg.push({\n        background: '#bebebe'\n    })\n}\nmsg[dict[selection]].background = '#00a9ab';\nreturn msg;","outputs":"5","noerr":0,"x":980,"y":440,"wires":[["11d3d81e.879a98","e88ce6cf.36b65"],["8bb945b1.dae7a8","e88ce6cf.36b65"],["8a19bd0b.c0a15","e88ce6cf.36b65"],["fefe9608.f865d8","e88ce6cf.36b65"],["e88ce6cf.36b65"]]},{"id":"4dc22cf8.b75214","type":"ibmiot in","z":"23be4e18.670552","authentication":"boundService","apiKey":"","inputType":"cmd","deviceId":"washer-leo-03","applicationId":"","deviceType":"washer","eventType":"+","commandType":"settings","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":160,"wires":[["c3022e69.f8ba2","ecd0a45f.ac06a8"]]},{"id":"c3022e69.f8ba2","type":"function","z":"23be4e18.670552","name":"","func":"node.warn('receive settings')\nnode.warn(msg.payload)\n\nreturn [\n        { payload: msg.payload.program },\n        { payload: msg.payload.spin },\n        { payload: msg.payload.temp }\n    ];","outputs":"3","noerr":0,"x":330,"y":160,"wires":[["b4f0764d.c09758","68813311.78559c","7674e250.ce479c"],["3ed3a77d.461838","68813311.78559c"],["c5564a74.2613a8","68813311.78559c"]]},{"id":"ecd0a45f.ac06a8","type":"debug","z":"23be4e18.670552","name":"","active":true,"console":"false","complete":"false","x":350,"y":40,"wires":[]},{"id":"68813311.78559c","type":"debug","z":"23be4e18.670552","name":"","active":true,"console":"false","complete":"false","x":590,"y":40,"wires":[]},{"id":"2d6561bc.b51aae","type":"inject","z":"23be4e18.670552","name":"","topic":"","payload":"66","payloadType":"num","repeat":"","crontab":"","once":false,"x":810,"y":200,"wires":[["d98bdbe2.1e7c18"]]},{"id":"269db229.764f3e","type":"inject","z":"23be4e18.670552","name":"","topic":"","payload":"66","payloadType":"num","repeat":"","crontab":"","once":false,"x":830,"y":240,"wires":[["d98bdbe2.1e7c18","2424a3e7.f28aec"]]},{"id":"7481cfb4.f56c7","type":"inject","z":"23be4e18.670552","name":"","topic":"","payload":"136","payloadType":"num","repeat":"","crontab":"","once":false,"x":810,"y":160,"wires":[["d98bdbe2.1e7c18"]]},{"id":"630818a7.2a3e88","type":"function","z":"23be4e18.670552","name":"","func":"var count = flow.get(\"count\");\nvar oldCount = count;\nflow.set(\"oldCount\", oldCount)\nvar interval = setInterval(function(){\n  count -= 1;\n  node.send({payload: count, hint: false});\n  if (count === 0){\n    clearInterval(interval); // Stopping the counter when reaching 0.\n  }\n}, 50);\n//return msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["d98bdbe2.1e7c18","2424a3e7.f28aec","cf6b1d56.7eddb","a53aa901.f6c16"]]},{"id":"bce7dc0.fa32a2","type":"inject","z":"23be4e18.670552","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":660,"y":80,"wires":[["630818a7.2a3e88"]]},{"id":"7562a735.2325e8","type":"inject","z":"23be4e18.670552","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":810.5,"y":274,"wires":[["d98bdbe2.1e7c18"]]},{"id":"7674e250.ce479c","type":"function","z":"23be4e18.670552","name":"","func":"node.warn(\"program \" + msg.payload)\ndict = {\n    coloreds: 66,\n    gentle: 54,\n    boiled: 85,\n    sports: 45,\n    cotton: 78,\n    handwash: 72,\n    quick: 30,\n    none: 0\n}\nnode.warn('count ' + dict[msg.payload])\nflow.set(\"count\", dict[msg.payload]);\nmsg.payload = dict[msg.payload];\nmsg.hint = true;\nreturn msg;","outputs":1,"noerr":0,"x":812.5,"y":310,"wires":[["d98bdbe2.1e7c18","cf6b1d56.7eddb"]]},{"id":"7192e15e.e3be9","type":"ibmiot in","z":"23be4e18.670552","authentication":"boundService","apiKey":"","inputType":"cmd","deviceId":"washer-leo-03","applicationId":"","deviceType":"washer","eventType":"+","commandType":"start","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":670,"y":120,"wires":[["630818a7.2a3e88"]]},{"id":"2424a3e7.f28aec","type":"function","z":"23be4e18.670552","name":"","func":"var oldCount = flow.get(\"oldCount\");\nvar count = msg.payload;\nmsg.payload = {\n    timeToFinish: count,\n    timeTotal: oldCount,\n    timePercentage: Math.floor(100*count/oldCount)\n}\nreturn msg;","outputs":1,"noerr":0,"x":964.5,"y":121,"wires":[["c815de89.552fb"]]},{"id":"c815de89.552fb","type":"ibmiot out","z":"23be4e18.670552","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"washer-leo-03","deviceType":"washer","eventCommandType":"time","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1100,"y":120,"wires":[]},{"id":"ad899095.88885","type":"ui_template","z":"23be4e18.670552","group":"aaf73fe7.0af7b","name":"logo","order":2,"width":"2","height":"1","format":"<img src=\"https://image.ibb.co/kugLpb/Untitled_2_01.png\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1270,"y":160,"wires":[[]]},{"id":"f0792f2a.7589c","type":"ui_text","z":"23be4e18.670552","group":"45e35d1a.116204","order":2,"width":"7","height":"1","name":"hint","label":"","format":"{{msg.payload}}","layout":"col-center","x":1250,"y":280,"wires":[]},{"id":"cf6b1d56.7eddb","type":"switch","z":"23be4e18.670552","name":"hint?","property":"hint","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","outputs":2,"x":990,"y":280,"wires":[["9d113c9b.415858"],["a4d294a4.43aba"]]},{"id":"9d113c9b.415858","type":"function","z":"23be4e18.670552","name":"","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":280,"wires":[["f0792f2a.7589c"]]},{"id":"a4d294a4.43aba","type":"function","z":"23be4e18.670552","name":"","func":"msg.payload = 'scan QR code or go to pay station';\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[["f0792f2a.7589c"]]},{"id":"a53aa901.f6c16","type":"switch","z":"23be4e18.670552","name":"reset?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":990,"y":360,"wires":[["d25bb54.8811748"]]},{"id":"d25bb54.8811748","type":"function","z":"23be4e18.670552","name":"no program","func":"msg.payload = \"none\";\nreturn msg;","outputs":1,"noerr":0,"x":1131.5,"y":359.75,"wires":[["b4f0764d.c09758","34ad8866.2508c8"]]},{"id":"34ad8866.2508c8","type":"debug","z":"23be4e18.670552","name":"","active":true,"console":"false","complete":"false","x":1208.125,"y":411.875,"wires":[]},{"id":"e88ce6cf.36b65","type":"function","z":"23be4e18.670552","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":920,"wires":[["e17e58bf.d7f5c","3a54702a.3f2fd"]]},{"id":"e17e58bf.d7f5c","type":"debug","z":"23be4e18.670552","name":"","active":true,"console":"false","complete":"false","x":1650,"y":860,"wires":[]},{"id":"d310b842.bfc6d8","type":"ibmiot out","z":"23be4e18.670552","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"washer-leo-03","deviceType":"washer","eventCommandType":"selection","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1760,"y":920,"wires":[]},{"id":"791d62d9.3e2b3c","type":"function","z":"23be4e18.670552","name":"","func":"var program = flow.get(\"program\");\nvar temp = flow.get(\"temp\");\nvar spin = flow.get(\"spin\");\n\nmsg.payload = {\n    program,\n    temp,\n    spin\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":920,"wires":[["d310b842.bfc6d8"]]},{"id":"3a54702a.3f2fd","type":"delay","z":"23be4e18.670552","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":920,"wires":[["791d62d9.3e2b3c"]]},{"id":"62dc6180.6492b","type":"ui_group","z":"","name":"Program","tab":"b441b8a2.3e7b38","order":1,"disp":true,"width":"2"},{"id":"3dbc24ac.4acf5c","type":"ui_group","z":"","name":"Spin Cycle","tab":"b441b8a2.3e7b38","order":5,"disp":true,"width":"12"},{"id":"5070eae8.46d144","type":"ui_group","z":"","name":"Water Temperature","tab":"b441b8a2.3e7b38","order":4,"disp":true,"width":"12"},{"id":"45e35d1a.116204","type":"ui_group","z":"","name":"Timer","tab":"b441b8a2.3e7b38","order":2,"disp":true,"width":"7"},{"id":"aaf73fe7.0af7b","type":"ui_group","z":"","name":"qr code","tab":"b441b8a2.3e7b38","order":3,"disp":false,"width":"5"},{"id":"b441b8a2.3e7b38","type":"ui_tab","z":"","name":"Washer Interface","icon":"dashboard","order":3}]
