flows/node-red-homepage.json
[{"id":"cad7a892.f8a3e8","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"a6d0d4f9.f05b78","type":"ui_button","z":"cad7a892.f8a3e8","name":"","group":"daf40dac.7e933","order":14,"width":0,"height":0,"passthru":false,"label":"START NOW","color":"","bgcolor":"#00a9ab","icon":"","payload":"{\"tab\":\"ioWash Countdown\"}","payloadType":"json","topic":"","x":390,"y":640,"wires":[["31176c42.cf72c4","6db4aa26.48a7b4"]]},{"id":"31176c42.cf72c4","type":"ui_ui_control","z":"cad7a892.f8a3e8","name":"","x":580,"y":620,"wires":[[]]},{"id":"6c3ac442.259d8c","type":"ui_button","z":"cad7a892.f8a3e8","name":"","group":"daf40dac.7e933","order":7,"width":"3","height":"1","passthru":false,"label":"Standard","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"standard","payloadType":"str","topic":"","x":525.5,"y":279,"wires":[["d0b0cea0.e7a5","5de63084.3ca4"]]},{"id":"2afa59b6.ab5736","type":"ui_button","z":"cad7a892.f8a3e8","name":"","group":"daf40dac.7e933","order":9,"width":"3","height":"1","passthru":false,"label":"Shirts","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"shirts","payloadType":"str","topic":"","x":513.5,"y":319,"wires":[["d0b0cea0.e7a5","5de63084.3ca4"]]},{"id":"131d8618.6fbf8a","type":"ui_button","z":"cad7a892.f8a3e8","name":"","group":"daf40dac.7e933","order":11,"width":"3","height":"1","passthru":false,"label":"Custom","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"custom","payloadType":"str","topic":"","x":526.5,"y":361,"wires":[["d0b0cea0.e7a5","5de63084.3ca4"]]},{"id":"af971d49.bb10f","type":"ui_text","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","order":8,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":910,"y":120,"wires":[]},{"id":"4d7f465d.4a69b8","type":"ui_text","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","order":10,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":910.5,"y":159,"wires":[]},{"id":"a107e8c3.3e2058","type":"ui_text","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","order":12,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":910.5,"y":198,"wires":[]},{"id":"6d4e3e80.4b60e","type":"ui_text","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","order":3,"width":"3","height":"1","name":"","label":"<big>Washer 3</big><br><small>Leopoldstr. 202</small>","format":"","layout":"row-spread","x":614.5,"y":70,"wires":[]},{"id":"168a4ae.eded3b5","type":"ui_template","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","name":"","order":5,"width":"2","height":"2","format":"<img src='https://image.ibb.co/bU9cLG/MCSA01835701_WM4_UH641_def.png'/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":60,"wires":[[]]},{"id":"240e911.784f56e","type":"ui_text","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","order":6,"width":"4","height":"1","name":"","label":"","format":"Select Your Program","layout":"row-left","x":434.5,"y":128,"wires":[]},{"id":"dfbe7fd7.5df1f","type":"ui_text","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","order":13,"width":0,"height":0,"name":"","label":"2.20 $ by Credit Card","format":"","layout":"row-spread","x":430,"y":584,"wires":[]},{"id":"d0b0cea0.e7a5","type":"function","z":"cad7a892.f8a3e8","name":"display settings","func":"\nvar selection = flow.get('selection');\n\nvar description = '<small>' + flow.get('temp') + ' °C ' + flow.get('spin') + ' rpm<br>' + flow.get('program') + '</small>';\nif (selection == \"standard\") {\n    return [\n        {payload: description},\n        {payload:''},\n        {payload:''}\n    ]\n} else if (selection == \"shirts\"){\n    return [\n        {payload:''},\n        {payload:description},\n        {payload:''}\n    ]\n} else if (selection == \"custom\"){\n    return [\n        {payload:''},\n        {payload:''},\n        {payload:description}\n    ]\n}\n","outputs":"3","noerr":0,"x":710,"y":157,"wires":[["af971d49.bb10f"],["4d7f465d.4a69b8"],["a107e8c3.3e2058"]]},{"id":"e3516f9a.dd7a3","type":"ibmiot out","z":"cad7a892.f8a3e8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"washer-leo-03","deviceType":"washer","eventCommandType":"settings","format":"json","data":"{}","qos":0,"name":"washer-leo-03","service":"registered","x":980,"y":320,"wires":[]},{"id":"5de63084.3ca4","type":"function","z":"cad7a892.f8a3e8","name":"send settings","func":"var program = msg.payload;\nvar custom = flow.get('custom');\nnode.warn(custom);\nif (program == \"standard\") {\n    return [\n        {payload:{\n            program: 'coloreds',\n            spin: '1200',\n            temp: '40'\n        }}\n    ]\n} else if (program == \"shirts\"){\n    return [\n        {payload:{\n            program: 'gentle',\n            spin: '500',\n            temp: '30'\n        }}\n    ]\n} else if (program == \"custom\"){\n    return [{payload:{\n        program: custom.program,\n        spin: custom.spin,\n        temp: custom.temp\n    }}]\n}","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["e3516f9a.dd7a3"]]},{"id":"66eebf66.816b9","type":"function","z":"cad7a892.f8a3e8","name":"change color","func":"var selection = msg.payload.selection;\n\n\n\nnode.warn('selection: ' + selection);\n\ndict = {\n    'standard': 0,\n    'shirts': 1,\n    'custom': 2\n}\n\nvar msg =[];\n\nfor(var i = 0; i<3; i++){\n    msg.push({\n        background: '#bebebe'\n    })\n}\nmsg[dict[selection]].background = '#00a9ab';\nreturn msg;","outputs":"3","noerr":0,"x":350,"y":320,"wires":[["6c3ac442.259d8c"],["2afa59b6.ab5736"],["131d8618.6fbf8a"]]},{"id":"6db4aa26.48a7b4","type":"function","z":"cad7a892.f8a3e8","name":"","func":"msg.payload = {\"wash\": true}\nreturn msg;","outputs":1,"noerr":0,"x":571.5,"y":661,"wires":[["881d87be.b781a8"]]},{"id":"881d87be.b781a8","type":"ibmiot out","z":"cad7a892.f8a3e8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"washer-leo-03","deviceType":"washer","eventCommandType":"start","format":"json","data":"{washer: true}","qos":0,"name":"IBM IoT","service":"registered","x":707.5,"y":661,"wires":[]},{"id":"de61b310.9a056","type":"ui_template","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","name":"","order":1,"width":"2","height":"1","format":"<img src=\"https://image.ibb.co/kugLpb/Untitled_2_01.png\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":20,"wires":[[]]},{"id":"3037f4d3.34e98c","type":"ui_template","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","name":"","order":2,"width":"4","height":"1","format":"<big><b>Hi Chris!</b></big>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":20,"wires":[[]]},{"id":"5850f141.688f5","type":"ui_template","z":"cad7a892.f8a3e8","group":"daf40dac.7e933","name":"","order":4,"width":"1","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":920,"y":40,"wires":[[]]},{"id":"5b62b902.6059f","type":"ibmiot in","z":"cad7a892.f8a3e8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"washer-leo-03","applicationId":"","deviceType":"washer","eventType":"selection","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":310,"y":220,"wires":[["fb2ef49b.70cc6","6f013afa.334254"]]},{"id":"fb2ef49b.70cc6","type":"function","z":"cad7a892.f8a3e8","name":"","func":"node.warn(msg.payload)\n\nvar program = msg.payload.program;\nvar temp = msg.payload.temp;\nvar spin = msg.payload.spin;\n\nflow.set(\"program\", program);\nflow.set(\"temp\", temp);\nflow.set(\"spin\", spin);\n\nvar selection;\nif(program == 'coloreds' && spin == '1200' && temp == '40'){\n    selection = \"standard\";\n} else if (program == 'gentle' && spin == '500' && temp == '30'){\n    selection = 'shirts';\n} else {\n    selection = 'custom';\n    flow.set(\"custom\", msg.payload);\n}\n\nmsg.payload.selection = selection;\nflow.set(\"selection\", selection);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["66eebf66.816b9","d0b0cea0.e7a5"]]},{"id":"6f013afa.334254","type":"function","z":"cad7a892.f8a3e8","name":"","func":"var enabled = !(msg.payload.program == 'none');\nmsg = {};\nmsg.enabled = enabled;\nreturn msg;","outputs":1,"noerr":0,"x":315.5,"y":505.75,"wires":[["a6d0d4f9.f05b78"]]},{"id":"daf40dac.7e933","type":"ui_group","z":"","name":"Hi Chris!","tab":"b6ec0989.380c28","disp":false,"width":"6"},{"id":"b6ec0989.380c28","type":"ui_tab","z":"","name":"ioWash Welcome","icon":"dashboard","order":1}]
